@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
html,
body {
  font-family: "Roboto", sans-serif;
  background-color: #fff;
  margin: 0;
  padding: 0;
}

input {
  color: #fff;
  font-size: 20px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
main {
  position: relative;
}

.header {
  position: relative;
  background-color: #19191f;
  background-image: linear-gradient(#19191f);
  width: 100%;
  bottom: 30px;
}

.header #logo {
  display: flex;
  max-width: 200px;
  max-height: 175px;
  margin: 0 auto;
}

.header #homeButton {
  display: inline;
  color: #fff;
  margin: 0 auto;
  padding: 0 5px;
  font-weight: bold;
}

.header #homeButton:hover {
  background-color: #2500aa;
  color: white;
}

.container {
  max-width: 2000px;
  margin: 50px 50px;
  position: relative;
}

.ads {
  display: grid;
  max-width: 100%;
  position: relative;
  grid-template-columns: repeat(4, 1fr);
  grid-row-gap: 55px;
}

/* Scaling */
@media only screen and (max-width: 600px) {
  .ads {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media only screen and (min-width: 600px) {
  .ads {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (min-width: 768px) {
  .ads {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (min-width: 992px) {
  .ads {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media only screen and (min-width: 1200px) {
  .ads {
    grid-template-columns: repeat(4, 1fr);
  }
}
/*  */

.smallAd #link {
  display: inline;
  text-decoration: underline;
  font-weight: bold;
  font-size: 21px;
}

.smallAd #image {
  display: flex;
  width: 350px;
  height: 250px;
  object-fit: cover;
  border: solid 0.5px black;
}

.smallAd .priceSmallAd {
  display: flex;
  font-weight: bold;
  margin: 0;
  font-size: 21px;
  color: rgb(0, 8, 255);
}

.smallAd .millageSmallAd {
  display: flex;
  margin: 5px 0 0 0;
}

.smallAd .citySmallAd {
  display: flex;
  position: relative;
  margin: 0;
}

.smallAd .yearSmallAd {
  display: flex;
  position: relative;
  margin: 0;
}

/* single AD below */

.wholePageContainer {
  margin-left: 9px;
  margin-top: -30px;
}

h3#singleAdTitle {
  font-size: 25px;
}

img#imagesSingleAd {
  max-width: 700px;
  border: solid 1px #000;
  border-radius: 2px;
}

.swiperContainer {
  max-width: 700px;
}

p#name {
  font-weight: bold;
  font-size: 18px;
}

p#price {
  font-size: 30px;
  color: #2901dd;
  font-weight: bold;
  margin: -35px 0 0 540px;
}

p#additionalInfo {
  font-weight: bold;
  font-size: 19px;
}

p#singleInfo {
  max-width: 580px;
}


.specsSingleAd {
  display: flex;
  position: relative;
  flex-direction: column;
  font-size: 18px;
}
.specsSingleAd #infoCarSingle {
  display: inline;
  font-weight: bold;
  font-size: 17px;
  margin-left: 10px;
}

.moreInfoContainer {
  position: relative;
  font-size: 18px;
}


.sellerContainer {
  display: flex;
  margin-left: 770px;
  max-height: 0;
}

.sellerInfo p {
  font-weight: bold;
}

.sellerInfo a {
  color:#2901dd;
  font-size: 1.1em;
  text-decoration: underline;
}

/* BUTTON */

.loadMoreAdsContainer {
  display: flex;
  margin-top: 20px;
}

.loadMoreAds {
  font: inherit;
  appearance: none;
  border: none;
  font-size: inherit;
  border-radius: 35px;
  padding: 15px 25px;
  background: #000;
  color: white;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.loadMoreAds:hover {
  color: rgb(255, 255, 255);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
}
